<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
            {% block titulo %}Visitas de Escolas - Semana do Saber Fazer Saber{% endblock %}
        </title>
        {% block style %}
            <link rel="stylesheet" type="text/css" href="/media/style.css" media="screen"/>
        {% endblock style %}
        {% block scripts %}
            <script type="text/javascript" src="/media/jquery.js"></script>
            <script type="text/javascript" src="/media/site.js"></script>
        {% endblock scripts %}
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <div id="logo"></div>
            	<div id="menu">
                    <ul>
                        <li class="active">
                            <a href="/">Página Inicial</a>
                        </li>
                        <li class="active">
                            <a href="http://www.saberfazersaber.iff.edu.br">Semana do Saber</a>
                        </li>
                        <li class="active">
                            <a href="http://www.iff.edu.br">Portal do IFF</a>
                        </li>
                        {% if not user.is_anonymous %}                            
                            <li class="active">
                                <a href="/logout/">Logout</a>
                            </li>
                            <li> 
                                <b>Bem vindo, {{ user }}!</b>
                            </li>
                        {% else %}
                            <li class="active">
                                <a href="/login/">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
	        </div>
            <div id="page">
                <div id="header-pic"></div>
	            <div id="content">
		            <div class="post">
			            <h2 class="title">{% block subtitle %}{% endblock subtitle %}</h2>
			            <div class="entry">
			                <br></br>
			                <center>
			                    <img src="/media/images/iff.gif" alt="IFF" title="Instituto Federal Fluminense"/>
			                </center>
			                <br/>
			                {% block conteudo %}{% endblock %}
			            </div>			
		            </div>
	            </div>
	            <div id="sidebar">
		            <div id="sidebar-bgtop"></div>
		            <div id="sidebar-content">
			            <div id="sidebar-bgbtm">
			                <ul>
				                <li>
					                <ul>
						                <li><a href="/agendar_visita/">Agendar Visita</a></li>
					                </ul>
				                </li>
				                <li>
					                <ul>
				                        <li><a href="/relatorio">Relatório de Visitas</a></li>
					                </ul>
				                </li>
				                <li>
					                <ul>
				                        <li><a href="/consulta">Consulta de Visitas</a></li>
					                </ul>
				                </li>
			                </ul>
		            </div>
		        </div>
            </div>
    		<div style="clear:both; margin:0;"></div>
        </div>
    </div>
    <div id="footer">
        <p> 
            &copy; Coordenação Adjunta de Administração e Desenvolvimento de Sistemas - IFF Campos-Centro.
            <br>
            <a href="http://www.djangoproject.com/"> Made with Django. </a>
        </p>
    </div> 
  </body>
</html>
